

@charset "UTF-8";



  body{
    margin:40px;
    background: #b0e0e6;
    font-family:'Courier New', "游ゴシック体","YuGothic", sans-serif;
  }

p,a{
color:gray;
}

.title {
    font-size:200%;
    text-align:center;
    color: #000;
    background: #fff;
    padding: 10px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    box-shadow: 0 0 0 5px #fff, 0 2px 3px 5px rgba(0,0,0,0.5);
    width:60%;
    margin:40px;
}

.board {
    font-size:70%;
    color: #000;
    background: #fff;
    padding: 20px;
    border: 1px dashed rgba(255,255,255,0.8);
    box-shadow: 0 0 0 2px lightgray;
    width:60%;
    margin:0px 40px;
}

.form {
    background:#fff;
    position: fixed;
    bottom: 40px;
    right: 100px;
    font-size: 100%;
    width: 250px;
    height:40%;
    padding: 20px 10px 10px;
    text-align: center;
    display: block;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    box-shadow: 0 0 0 5px #fff, 0 2px 3px 5px rgba(0,0,0,0.5);
}

.left{
  position: fixed;
  bottom: 0px;
  top:0px;
  left: 0px;
  font-size: 100%;
  width: 10px;
  height:100%;
  padding: 0px 10px 10px;
  text-align: center;
  display: block;
  border-radius: 5px;
  background: lightgray;
}
